<%- include('../partials/clientHeader') %>

	<div id="site-content">
		<main class="main-content">
			<div class="container">
				<div class="page">
					<div class="breadcrumbs">
						<a href="index.html">Home</a>
						<span>About us</span>
					</div>

					<div class="row">
						<div class="col-md-4">
							<figure><img src="https://cdn.dribbble.com/userupload/22195218/file/original-b16773e838295591ca1ec8aa338b663c.gif" alt="figure image"></figure>
						</div>
						<div class="col-md-8">
							<p class="leading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
								accusantium doloremque laudantium totam.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
								architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
								voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit
								consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
								dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
								exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
								consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam.
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-9">
							<h2 class="section-title">Vision &amp; Misssion</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
								laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi
								architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
								sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
								voluptatem sequi nesciunt. </p>

							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit consectetur adipisci velit,
								sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
								quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
								suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure
								reprehenderit qui in ea voluptate velit esse quam dignissimos ducimus qui blanditiis
								praesentium voluptatum atque.</p>
						</div>
						<div class="col-md-3">
							<h2 class="section-title">Useful Links</h2>
							<ul class="arrow">
								<li><a href="#">Eiusmod tempor incididunt</a></li>
								<li><a href="#">Tenim ad minim venia</a></li>
								<li><a href="#">Quis nostrud exercitation</a></li>
								<li><a href="#">Ullamco laboris reprehenderit</a></li>
								<li><a href="#">Duis aute dolor voluptat</a></li>
								<li><a href="#">Velit esse cillum dolore</a></li>
								<li><a href="#">Excepteur sint occaeca</a></li>
							</ul>
						</div>
					</div> <!-- .row -->

					<h2 class="section-title">Our Team</h2>
					<div class="row">

						<div class="col-md-3">
							<div class="team">
								<figure class="team-image"><img src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://media.easy-peasy.ai/35f85780-d68b-4679-a73a-068e4d1f8d84/59537d29-9805-491c-aae4-8ec1dc49acf7.png" alt="img"></figure>
								<h2 class="team-name">Vraj Gautam</h2>
								<small class="team-title">Co-founder</small>
								<div class="social-links">
									<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team">
								<figure class="team-image"><img src="https://easy-peasy.ai/cdn-cgi/image/quality=80,format=auto,width=700/https://media.easy-peasy.ai/78e88f76-29bf-4289-9624-719aec0f7bcb/e516f677-4846-4a28-9707-ba00ffa49479.png" alt="img"></figure>
								<h2 class="team-name">Bhavini Patel</h2>
								<small class="team-title">Managing Director</small>
								<div class="social-links">
									<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team">
								<figure class="team-image"><img src="https://avatars.githubusercontent.com/u/158015189?v=4" alt="img"></figure>
								<h2 class="team-name">Jainam Pokal</h2>
								<small class="team-title">Reviewer</small>
								<div class="social-links">
									<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="team">
								<figure class="team-image"><img src="https://files.oaiusercontent.com/file-7gWt5jf6Q6q1CWYNMXX2G6?se=2025-03-03T04%3A21%3A08Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D4bdbf20e-03cd-44f5-8fd0-604afde75e13.webp&sig=FR43joCILsrqcd7hSh7YIDhv9mMBWijwYLRy2w4poXQ%3D" alt="img"></figure>
								<h2 class="team-name">Sarah Stuart</h2>
								<small class="team-title">Consultant</small>
								<div class="social-links">
									<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
									<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
									<a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
									<a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div> <!-- .container -->
		</main>
		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="widget">
							<h3 class="widget-title">About Us</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia
								nesciunt saepe cupiditate</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="widget">
							<h3 class="widget-title">Recent Review</h3>
							<ul class="no-bullet">
								<li>Lorem ipsum dolor</li>
								<li>Sit amet consecture</li>
								<li>Dolorem respequem</li>
								<li>Invenore veritae</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div class="widget">
							<h3 class="widget-title">Help Center</h3>
							<ul class="no-bullet">
								<li>Lorem ipsum dolor</li>
								<li>Sit amet consecture</li>
								<li>Dolorem respequem</li>
								<li>Invenore veritae</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div class="widget">
							<h3 class="widget-title">Join Us</h3>
							<ul class="no-bullet">
								<li>Lorem ipsum dolor</li>
								<li>Sit amet consecture</li>
								<li>Dolorem respequem</li>
								<li>Invenore veritae</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div class="widget">
							<h3 class="widget-title">Social Media</h3>
							<ul class="no-bullet">
								<li>Facebook</li>
								<li>Twitter</li>
								<li>Google+</li>
								<li>Pinterest</li>
							</ul>
						</div>
					</div>
					<div class="col-md-2">
						<div class="widget">
							<h3 class="widget-title">Newsletter</h3>
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Email Address">
							</form>
						</div>
					</div>
				</div> <!-- .row -->

				<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
			</div> <!-- .container -->

		</footer>
	</div>
	<!-- Default snippet for navigation -->



	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/app.js"></script>

	</body>

	</html>