<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

	<title>Movie Review</title>

	<!-- Loading third party fonts -->
	<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
	<link href="/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Loading main css file -->
	<link rel="stylesheet" href="/style.css">

	<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

</head>


<body>


	<div id="site-content">
		<header class="site-header">
			<div class="container">
				<a href="index.html" id="branding">
					<img src="images/logo.png" alt="" class="logo">
					<div class="logo-copy">
						<h1 class="site-title">Company Name</h1>
						<small class="site-description">Tagline goes here</small>
					</div>
				</a> <!-- #branding -->

				<div class="main-navigation">
					<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
					<ul class="menu">
						<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
						<li class="menu-item"><a href="about">About</a></li>
						<li class="menu-item"><a href="review">Movie reviews</a></li>
						<li class="menu-item"><a href="joinus.html">Join us</a></li>
						<li class="menu-item"><a href="contact.html">Contact</a></li>
					</ul> <!-- .menu -->

					<form action="#" class="search-form">
						<input type="text" placeholder="Search...">
						<button><i class="fa fa-search"></i></button>
					</form>
				</div> <!-- .main-navigation -->

				<div class="mobile-navigation"></div>
			</div>
		</header>
		<main class="main-content">
			<div class="container">
				<div class="page">
					<div class="row">
						<!-- Slider Section -->
						<div class="col-md-9">
							<div class="slider">
								<ul class="slides">
									<% for (var i = 0; i < movies.length; i++) { %>
										<% if (i < 3) { %>  <!-- Only first 3 movies go in the slider -->
											<li><a href="#"><img src="/uploads/<%= movies[i].thumbnail %>" alt="Slide <%= i + 1 %>" style="width: 100%; height: 600px;"></a></li>
										<% } %>
									<% } %>
								</ul>
							</div>
						</div>
				
						<!-- Movie Cards Section -->
						<div class="col-md-3">
							<div class="row">
								<% for (var i = 3; i < movies.length; i++) { %>  <!-- Remaining movies go in the cards -->
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie">
											<a href="#"><img style="height: 180px; object-fit: fill;" src="/uploads/<%= movies[i].thumbnail %>" alt="Movie <%= i - 2 %>"></a>
										</div>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
				

				<!-- .row -->
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="latest-movie">
							<a href="#"><img style="height: 300px; object-fit: fill;" src="https://cdn.dribbble.com/users/267682/screenshots/5682223/ezgif.com-video-to-gif__10_.gif" alt="Movie 3"></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="latest-movie">
							<a href="#"><img style="height: 300px; object-fit: cover;" src="https://64.media.tumblr.com/6d46db25197c51aa532bb3dd813ce70f/29fb9b1be0bd48df-dd/s540x810/bc6a4c359c164b56af0a2eb1c28cd69584770000.gifv" alt="Movie 6"></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="latest-movie">
							<a href="#"><img style="height: 300px; object-fit: fill;" src="https://64.media.tumblr.com/2db4f52366496fc51cc3fe5544308a3a/c6bff5bb337ad1b2-e6/s540x810/68260cbd1c75047a6f22af258d180948eaa29609.gif" alt="Movie 4"></a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="latest-movie">
							<a href="#"><img style="height: 300px; object-fit: fill;" src="https://images.bhaskarassets.com/web2images/521/2024/01/25/gifff_1706165675.gif" alt="Movie 5"></a>
						</div>
					</div>
				</div> 
				
				
				<!-- .row -->
				<div class="row">
					<div class="col-md-4">
						<h2 class="section-title">December premiere</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore.</p>
						<ul class="movie-schedule">
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
						</ul> <!-- .movie-schedule -->
					</div>
					<div class="col-md-4">
						<h2 class="section-title">November premiere</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore.</p>
						<ul class="movie-schedule">
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
						</ul> <!-- .movie-schedule -->
					</div>
					<div class="col-md-4">
						<h2 class="section-title">October premiere</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore.</p>
						<ul class="movie-schedule">
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
							<li>
								<div class="date">16/12</div>
								<h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
							</li>
						</ul> <!-- .movie-schedule -->
					</div>
				</div>
			</div>
	</div> 
	<!-- .container -->
	</main>
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">About Us</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia
							nesciunt saepe cupiditate</p>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">Recent Review</h3>
						<ul class="no-bullet">
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Sit amet consecture</a></li>
							<li><a href="#">Dolorem respequem</a></li>
							<li><a href="#">Invenore veritae</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">Help Center</h3>
						<ul class="no-bullet">
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Sit amet consecture</a></li>
							<li><a href="#">Dolorem respequem</a></li>
							<li><a href="#">Invenore veritae</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">Join Us</h3>
						<ul class="no-bullet">
							<li><a href="#">Lorem ipsum dolor</a></li>
							<li><a href="#">Sit amet consecture</a></li>
							<li><a href="#">Dolorem respequem</a></li>
							<li><a href="#">Invenore veritae</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">Social Media</h3>
						<ul class="no-bullet">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Google+</a></li>
							<li><a href="#">Pinterest</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2">
					<div class="widget">
						<h3 class="widget-title">Newsletter</h3>
						<form action="#" class="subscribe-form">
							<input type="text" placeholder="Email Address">
						</form>
					</div>
				</div>
			</div> <!-- .row -->

			<div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
		</div> <!-- .container -->

	</footer>
	</div>
	<!-- Default snippet for navigation -->



	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/app.js"></script>

</body>

</html>